body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    background-color: black;
    z-index: -1;
    
}
.container > div{
    color: white;
}
#explore{
    /* z-index: 100; */
    /* color: white; */
    padding-left: 1100px;;
    padding-right: 70px;
    font-size: 0.9em;
    padding-top: 10px;
}
a{
    color: white;
}
#About,#Contact{
    padding-right: 60px;
    font-size: 0.9em;
    padding-top: 10px;
}
a:hover{
    background-color: white;
    color:red;
}

body{
    background-image: url('./images/concert.jpg');
}
body > h1{
    font-size:8em;
    color: white;
    text-align: center;
}
#logo >img{
  width:fit-content;;
  height: 120px;
}
#event-container{
    /* opacity: 0.5; */
    width: 80%;
    margin-left: 10%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    background-color: rgba(0, 0, 0, 0.850);
    color: white;
}
body > div >h2{
    /* opacity: 1; */
    font-size: 5em;
    text-align: center;
    grid-column-end: span 3;
      
}
body >div >img{
    margin-left: 100px;;
}
